In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect

pd.options.display.max_rows = 999

In [2]:
# The path to our CSV file
file = "population.csv"

# Read our data into pandas
df = pd.read_csv(file)
df.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,Last Updated Date,10/28/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
4,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN

In [3]:
#change data type
#df['1960.0'] = (df['1960.0'] !='n').astype(int)
df.iloc[:,4:]=df.iloc[:,4:].astype(pd.Int64Dtype())
#df.dtypes

#drop rows
df.columns=df.iloc[2]
df.drop(df.index[[0,1,2]], inplace=True)

#drop columns
df.drop(['Indicator Name','Indicator Code'], axis=1, inplace=True)

#drop column with no value ex) 2019
df=df.loc[(df.sum(axis=1) != 0), (df.sum(axis=0) != 0)]

df.rename(columns = {'Country Name':'Country_Name','Country Code':'Country_Code' }, inplace = True) 
#df.drop(['Country_Code'], axis=1, inplace=True)

df.head(5) #263x60
df.to_csv('population_cleaned.csv', index=False)

In [4]:
file1 = "life.csv"

# Read our data into pandas
df1 = pd.read_csv(file1, skiprows=3)

#drop columns
df1.drop(['Indicator Name','Indicator Code'], axis=1, inplace=True)

#drop raw or column all=0
df1=df1.loc[(df1.sum(axis=1) != 0), (df1.sum(axis=0) != 0)]

df1.rename(columns = {'Country Name':'Country_Name','Country Code':'Country_Code'}, inplace = True)
#df1.drop(['Country_Code'], axis=1, inplace=True)

df1.head(5)  #254x59
df1.to_csv('life_cleaned.csv', index=False)

In [5]:
file2 = "gdp.csv"

# Read our data into pandas
df2 = pd.read_csv(file2, skiprows=3)

#change data type
#df2.iloc[:,4:]=df2.iloc[:,4:].astype(pd.Int64Dtype())
#df.dtypes

#drop rows
#df2.columns=df2.iloc[2]
#df2.drop(df2.index[[0,1,2]], inplace=True)

#drop columns
df2.drop(['Indicator Name','Indicator Code'], axis=1, inplace=True)

#drop raw or column all=0
df2=df2.loc[(df2.sum(axis=1) != 0), (df2.sum(axis=0) != 0)]

df2.rename(columns = {'Country Name':'Country_Name','Country Code':'Country_Code'}, inplace = True)
#df2.drop(['Country_Code'], axis=1, inplace=True)

df2.head(5)  #258x60
df2.to_csv('gdp_cleaned.csv', index=False)

In [6]:
#df_list = df.stack()

In [7]:
df_sql = df.melt(id_vars=["Country_Code" , "Country_Name"], 
                 var_name="Year", 
                 value_name="Value")
df1_sql = df1.melt(id_vars=[ "Country_Code","Country_Name"], 
                 var_name="Year", 
                 value_name="Value")
df2_sql = df2.melt(id_vars=[ "Country_Code","Country_Name"], 
                 var_name="Year", 
                 value_name="Value")

In [8]:
#save to csv files
df_sql.to_csv('population_sql.csv', index=False)
df1_sql.to_csv('life_sql.csv', index=False)
df2_sql.to_csv('gdp_sql.csv', index=False)

In [9]:
#df2.transpose().head(5)
#df_sql.dtypes  # all object
df_sql['Year'] = df_sql['Year'].astype(int)
df_sql['Value'] = pd.to_numeric(df_sql['Value'], errors='coerce')
#df_sql.dtypes

df1_sql['Year'] = df1_sql['Year'].astype(int)
df1_sql['Value'] = pd.to_numeric(df1_sql['Value'], errors='coerce')

df2_sql['Year'] = df2_sql['Year'].astype(int)
df2_sql['Value'] = pd.to_numeric(df2_sql['Value'], errors='coerce')

In [10]:
# Create database
db_uri = "sqlite:///db_country.sqlite"
engine = create_engine(db_uri)

#engine.execute('DROP TABLE IF EXISTS Population;')

#engine.execute('CREATE TABLE "Population" ('
#               'country_code char(3) NOT NULL,'
#              'country_name VARCHAR,'
#               'year INT,'
#               'value INT,'
#               'PRIMARY KEY (country_code));')

#df_sql.to_sql('Population', engine, if_exists='replace', index = False,
#            dtype={'Country_Code': sqlalchemy.types.VARCHAR(length=3), 
#                   'Country_Name': sqlalchemy.types.VARCHAR(length=30),
#                   'Year': sqlalchemy.types.INTEGER(),
#                   'Value': sqlalchemy.types.INTEGER(),                   
#                   'Value': sqlalchemy.types.Float(precision=3, asdecimal=True)
#                    })

#engine.execute('INSERT INTO "EX1" '
#               '(id, name) '
#               'VALUES (1,"raw1")')

#inspector = inspect(engine)
#inspector.get_table_names()
#inspector.get_columns('Population')

df_sql.to_sql('Population', engine, if_exists='replace', index = False)
df1_sql.to_sql('Life', engine, if_exists='replace', index = False)
df2_sql.to_sql('GDP', engine, if_exists='replace', index = False)

In [11]:
#result = engine.execute('SELECT * FROM '
#                        '"Population"')
#pd.read_sql_query('select * from Population', engine)

In [12]:
# delete *
#engine.execute('DELETE from "EX1" where id=1;')
#result = engine.execute('SELECT * FROM "EX1"')
#result.fetchall()